{% from "agrawa/print_format/includes/print_macros.html" import render_letter_head, render_company_block, render_footer, render_shared_styles, format_currency, format_date, render_contact_salutation, render_address_block, render_tax_notice %}
{{ render_letter_head(letter_head) }}

{% set user_details = frappe.db.get_value("User Signature", {"name": frappe.session.user}, ["full_name", "signature"], as_dict=1) %}
<!-- Address + Company info section -->
<div class="company-and-address-info">

    <!-- Left side (address block inside window) -->
    {{ render_address_block(doc) }}

    {{ render_company_block() }}
</div>

<!-- BODY Wrapper -->
<div class="body-wrapper">

    <div style="display: flex; justify-content: space-between; align-items: flex-start;">
        <!-- Left side -->
        <h1><b>{{ _("QUOTATION") }}</b></h1>

        <!-- Right side -->
        <div style="text-align: left; font-size: 12px; line-height: 1.6; margin-left: auto;">
            <b>{{ _("Quote No.") }}: </b>{{doc.name}}<br>
            <b>{{ _("Quote Date") }}: </b>{{format_date(doc.transaction_date)}}<br>
            {% if doc.custom_delivery_date %}
                <b>{{ _("Delivery Date") }}: </b>{{ format_date(doc.custom_delivery_date) }}<br>
            {% endif %}
            <b>{{ _("Customer No.") }}: </b>{{doc.party_name}}<br>
            <b>{{ _("Your Contact Person") }}: </b>Herr Schweikart<br>+49 176 17942780<br>
        </div>
    </div>
    <br>

    {{ render_contact_salutation(doc) }}

    <br>
    {{ _("Thank you for your interest. I am pleased to present you with the following offer. This offer is subject to change.") }}
    <br><br>

    <table class=" table-sm pricetable" >
	<thead>
        <tr class="">
            <th style="width:1.1cm;">{{ _("Pos") }}</th>
            <th style="width:3.0cm;">{{ _("Item Name") }}</th>
            <th style="width:3.0cm;">{{ _("Description") }}</th>
            <th style="width:1.5cm;">{{ _("Packing Unit") }}</th>
            <th style="width:1.5cm;">{{ _("Item Number") }}</th>
            <th style="width:2.0cm;" class="text-right">{{ _("Sales Price") }}</th>
            <th style="width:1.5cm;" class="text-right">{{ _("Quantity / Unit") }}</th>
            <th style="width:1.0cm;" class="text-right">{{ _("Pricing Unit") }}</th>
            <th style="width:2.5cm;" class="text-right">{{ _("Total Amount") }}</th>
        </tr>
	</thead>
    <tbody>
        {% for item in doc.items %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.item_name or '' }}</td>
            <td>{{ item.description or '' }}</td>
            <td>{{ frappe.db.get_value("Item", item.item_code, "custom_packaging_unit") or '' }}</td>
            <td>{{ item.item_code }}</td>
            <td style="text-align: right;" >{{ format_currency(item.rate) }}</td>
            <td style="text-align: right;" >{{ item.qty }}</td>
            <td>{{ item.stock_uom or '' }}</td>
            <td style="text-align: right;">{{ format_currency(item.amount) }}</td>
        </tr>
        {% endfor %}
        <!-- Net Amount -->
        <tr>
            <td colspan="8" class="text-right"><b>{{ _("Net Amount") }}</b></td>
            <td class="text-right"><b>{{ format_currency(doc.total) }}</b></td>
        </tr>
        <!-- Tax Row -->
        {% for item in doc.taxes %}
        {% if item.base_tax_amount and item.base_tax_amount != 0 %}
            <tr>
            <td colspan="8" class="text-right">
                <b>
                {% if "19" in item.description %}
                    {{ _("Additional VAT 19%") }}
                {% elif "7" in item.description %}
                    {{ _("Additional VAT 7%") }}
                {% endif %}
                </b>
            </td>
            <td class="text-right">
                <b>{{ format_currency(item.base_tax_amount) }}</b>
            </td>
            </tr>
        {% endif %}
        {% endfor %}
        <!-- Additional Discount Row -->
         {% if doc.additional_discount_percentage and doc.discount_amount %}
            <tr>
                <td colspan="8" class="text-right"><b>{{ _("Additional Discount") }} {{ doc.additional_discount_percentage }}%</b></td>
                <td class="text-right"><b>{{ format_currency(doc.discount_amount) }}</b></td>
            </tr>
        {% endif %}
        <!-- Grand Total Row -->
        <tr>
            <td colspan="8" class="text-right"><b>{{ _("Grand Total") }}</b></td>
            <td class="text-right"><b>{{ format_currency(doc.grand_total) }}</b></td>
        </tr>

    </tbody>
</table>

    <!-- Taxes and Charges -->
    {{ render_tax_notice(doc) }}
    <br>
    <div style="page-break-inside: avoid;">
        <p>
            <b>{{ doc.tc_name or '' }}</b><br>
            {{ doc.terms or ''}}
        </p>
    </div>

    <!-- Greeting -->
    <div style="width: 100%; margin-bottom: 10px; page-break-inside: avoid;">
        {{ _("We look forward to your approval of this offer. If you have any questions, please do not hesitate to contact us.") }} <br>
        {{ _("Kind regards") }}:<br>
        {% if user_details %}
            {% if user_details.signature %}
                <div style="flex: 0 0 auto; margin-right: 20px; text-align: left;">
                    <img src="{{ user_details.signature }}" alt="Logo" style="width: 150px; height: auto;">
                </div>
            {% endif %}
            {{ user_details.full_name if user_details.full_name else '' }}
        {% endif %}  
    </div>

</div>

    <br>
{{ render_footer(footer) }}
{{ render_shared_styles() }}

<style>
.pricetable thead th {
  /* background: #f0f0f0; */
  font-weight: bold;
}

.print-format h1, 
.print-format h1 * {
  font-size: 32px !important;
  color: #A11929;
  margin: 0;
  letter-spacing: 2px;
}

</style>