{% from "agrawa/print_format/includes/print_macros.html" import render_letter_head, render_company_block, render_footer, render_shared_styles, format_currency %}
{{ render_letter_head(letter_head) }}

<!-- Address + Company info section -->
<div style="display: flex; justify-content: space-between; align-items: flex-start; height:45mm;">

    <!-- Left side (address block inside window) -->
    <div style="text-align: left; width: 8.5cm; height: 100%; margin-left: 10mm;">
        <span style="color: #B2160E;">AgraWa GmbH</span> 
        <span style="color: 83AD29;">|</span> 
        <span style="color: #B2160E;">Sonnenbergstr. 17/1</span> 
        <span style="color: 83AD29;">|</span> 
        <span style="color: #B2160E;">71665 Vaihingen/Enz</span>
        
        <div style="margin-top: 0.2cm;">
            <strong>{{ doc.customer_name }}</strong><br>
            {% if doc.address_display %}
                {{ doc.address_display }}
            {% endif %}
        </div>
    </div>

    {{ render_company_block() }}
</div>

<!-- BODY Wrapper -->
<div style="margin-left: 4mm; margin-right: 4mm;">

    <div style="display: flex; justify-content: space-between; align-items: flex-start;">
        <!-- Left side -->
        <h1><b>ANGEBOT</b></h1>

        <!-- Right side -->
        <div style="text-align: left; font-size: 12px; line-height: 1.6; margin-left: auto;">
            <b>Angebotsnr.: </b>{{doc.name}}<br>
            <b>Angebotsdatum: </b>{{doc.transaction_date}}<br>
            {% if doc.custom_delivery_date %}
                <b>Lieferdatum: </b>{{ doc.custom_delivery_date }}<br>
            {% endif %}
            <b>Kundennr.: </b>{{doc.party_name}}<br>
            <b>Ihr Ansprechpartner: </b>Herr Schweikart<br>+49 176 17942780<br>
        </div>
    </div>
    <br>

    {% if doc.contact_person %}
        {% set contact = frappe.get_doc("Contact", doc.contact_person) %}
        Sehr geehrter {{contact.salutation or ""}} {{ contact.last_name or "" }},
    {% else %}
        Sehr geehrter Damen und Herren,
    {% endif %}

    <br>
    vielen Dank für Ihr Interesse. Ich freue mich sehr, Ihnen das folgende Angebot unterbreiten zu können:
    Das Angebot ist freibleibend.
    <br><br>

    <table class=" table-sm pricetable" >
	<thead>
        <tr class="">
            <th style="width:5.88%;">{{ _("Pos") }}</th>
            <th style="width:17.65%;">{{ _("Item Name") }}</th>
            <th style="width:17.65%;">{{ _("Description") }}</th>
            <th style="width:8.82%;">{{ _("Packing Unit") }}</th>
            <th style="width:8.82%;">{{ _("Item Number") }}</th>
            <th style="width:11.76%;" class="text-right">{{ _("Sales Price") }}</th>
            <th style="width:8.82%;" class="text-right">{{ _("Menge / EH") }}</th>
            <th style="width:5.88%;" class="text-right">{{ _("Pricing Unit") }}</th>
            <th style="width:14.71%;" class="text-right">{{ _("Total Amount") }}</th>
        </tr>
	</thead>
    <tbody>
        {% for item in doc.items %}
        <tr>
            <td style="word-wrap:break-word;">{{ loop.index }}</td>
            <td style="word-wrap:break-word;"><div style="width:65px">{{ item.item_name or '' }}</div></td>
            <td style="word-wrap:break-word;"><div style="width:45px">{{ item.description or '' }}</div></td>
            <td style="word-wrap:break-word;">{{ frappe.db.get_value("Item", item.item_code, "custom_packaging_unit") or '' }}</td>
            <td style="word-wrap:break-word;">{{ item.item_code }}</td>
            <td style="word-wrap:break-word; text-align: right;" >{{ format_currency(item.rate) }}</td>
            <td style="word-wrap:break-word; text-align: right;" >{{ item.qty }}</td>
            <td style="word-wrap:break-word;">{{ item.stock_uom or '' }}</td>
            <td style="word-wrap:break-word; text-align: right;">{{ format_currency(item.amount) }}</td>
        </tr>
        {% endfor %}
        <!-- Net Amount -->
        <tr>
            <td colspan="8" class="text-right"><b>{{ _("Net Amount") }}</b></td>
            <td class="text-right"><b>{{ format_currency(doc.total) }}</b></td>
        </tr>
        <!-- Tax Row -->
        {% for item in doc.taxes %}
        {% if item.base_tax_amount and item.base_tax_amount != 0 %}
            <tr>
            <td colspan="8" class="text-right">
                <b>
                {% if "19" in item.description %}
                    {{ _("Additional VAT 19%") }}
                {% elif "7" in item.description %}
                    {{ _("Additional VAT 7%") }}
                {% endif %}
                </b>
            </td>
            <td class="text-right">
                <b>{{ format_currency(item.base_tax_amount) }}</b>
            </td>
            </tr>
        {% endif %}
        {% endfor %}

        <!-- Grand Total Row -->
        <tr>
            <td colspan="8" class="text-right"><b>{{ _("Grand Total") }}</b></td>
            <td class="text-right"><b>{{ format_currency(doc.grand_total) }}</b></td>
        </tr>

    </tbody>
</table>

    <br>
    <div style="page-break-inside: avoid;">
        <p>
            <b>{{ doc.tc_name or '' }}</b><br>
            {{ doc.terms or ''}}
        </p>
    </div>

    <!-- Greeting -->
    <div style="width: 100%; margin-bottom: 10px; page-break-inside: avoid;">
        Wir freuen uns, sollte dieses Angebot Ihre Zustimmung finden. Bei Rückfragen stehen wir Ihnen gerne zur Verfügung. <br>
        Mit freundlichen Grüßen: 
        <div style="flex: 0 0 auto; margin-right: 20px; text-align: left;">
            <img src="/files/image1-23.png" alt="Logo" style="width: 150px; height: auto;">
        </div>
        Steffen Schweikart
    </div>

</div>

    <br>
{{ render_footer(footer) }}
{{ render_shared_styles() }}

<style>
.pricetable thead th {
  /* background: #f0f0f0; */
  font-weight: bold;
}

.print-format h1, 
.print-format h1 * {
  font-size: 32px !important;
  color: #A11929;
  margin: 0;
  letter-spacing: 2px;
}

</style>